h1 {
    color: greenyellow;
    text-align: center;
    }
    
    
    body {
      background-color:#1ABC9C ;
    }
    
    
    p {
      font-family: sans-serif;
      font-size: 20px;}
      
    
      .item{background: #229954;
        padding: 3rem;
      color: greenyellow;
    border: 1px solid greenyellow;
  font-weight: bold;
font-size: 1.4rem;}
      
      
      .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
        'header header'
        'title title'
        'info picture'
        'skills skills'
        'links links'
        'projects projects'
        'sidebar sidebar';
        display: grid;
        gap: 4rem;
        /* grid-template-columns: 500px 500px;
        grid-template-rows: 100px 200px 200px 100px; */
      margin: 0;}



    .header{
      grid-area: header;
      display: inline-block;
      position: relative;
}

.title{
grid-area: title;


}

.info{
grid-area: info;
width: 450px;
padding-left: 20px;

}

#about me p{
  color: #AAFF00;
  font-size: larger;
  font-family: sans-serif;
  


}

.picture{
grid-area: picture;


}

#lotusblossom{
height: 1010px;
width: 1895px;

}

.skills{
grid-area: skills;
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-columns: 300px 300px 300px;
gap: 2rem;
padding-left: 465px;}

.projects{
grid-area: projects;


}

.sidebar{
grid-area: sidebar;


}

#photo {
height: 805px;
width: 490px;
padding-left: 100px;
left: 60%;
/* border: 1px solid #229954; */
}


#navbar {

  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: pink;
  border: 2px solid #229954;


}

#navbar a{

  color: 	#AAFF00;
  text-decoration: none;
font-size: larger;
padding: 20px;


}

.links{
grid-area: links;


}