h1 {
    color: greenyellow;
    text-align: center;
    }
    body {
      background-color:#1ABC9C ;
    }
    p {
      font-family: sans-serif;
      font-size: 20px;}
      .container {
        display: grid;
        grid-template-columns: 500px 500px;
      margin: 2rem auto 2rem auto;
    width: 1000px;}